# Configuration file

##########################################################################################################
# effects
#--------------------------------------------------------------------------------------------------------#
# Add potions effects that will be applied to players on respawn
##########################################################################################################

effects {
    # Set to true to enable effects module
    B:"Enable Effects Module"=true

    # List of effects to apply to players on respawn that can be cured by the curing items list
    # Format: [effect] [duration(secs)] [power]
    S:"Curable Respawn Effects" <
     >

    # List of items that will be used by 'Curable Respawn Effects'
    S:"Curative Items" <
        minecraft:milk_bucket
     >

    # List of effects to apply to player on respawn
    # Format: [effect] [duration(secs)] [power]
    S:"Uncurable Respawn Effects" <
        minecraft:mining_fatigue 15 4
     >

    ##########################################################################################################
    # custom respawn effect
    #--------------------------------------------------------------------------------------------------------#
    # Customize your own respawn effect for modifying player attributes
    ##########################################################################################################

    "custom respawn effect" {
        # Set to true to enable custom effect applied on respawn
        B:"Enable Custom Respawn Effect"=true

        # Set duration (seconds) for the effect
        I:Duration=60

        # List of items that can cure the effect
        S:"Curative Items" <
			aether:blueberries
			aether:blueberry_lollipop
			aether:burrukai_rib_cut
			aether:burrukai_ribs
			aether:candy_cane
			aether:candy_corn
			aether:cocoatrice
			aether:enchanted_blueberry
			aether:enchanted_wyndberry
			aether:fried_moa_egg
			aether:ginger_bread_man
			aether:icestone_poprocks
			aether:jelly_plumproot
			aether:kirrid_cutlet
			aether:kirrid_loin
			aether:orange
			aether:orange_lollipop
			aether:plumproot_mash
			aether:plumproot_pie
			aether:raw_taegore_meat
			aether:skyroot_lizard_stick
			aether:skyroot_lizard_stick_roasted
			aether:stomper_pop
			aether:swet_jelly
			aether:swet_jelly:1
			aether:swet_jelly:2
			aether:taegore_steak
			aether:wrapped_chocolates
			aether:wyndberry
			aether:yule_log
			aether_legacy:ambrosium_shard
			aether_legacy:blue_berry
			aether_legacy:candy_cane
			aether_legacy:enchanted_blueberry
			aether_legacy:ginger_bread_man
			aether_legacy:gummy_swet
			aether_legacy:gummy_swet:1
			aether_legacy:healing_stone
			aether_legacy:white_apple
			beasts:butterflyfish_wing
			beasts:coconut
			beasts:coconut_juice
			beasts:coconut_mushroom
			beasts:coconut_rabbit_stew
			beasts:cooked_crab_leg
			beasts:cooked_eel_chop
			beasts:cooked_kebab
			beasts:cooked_scallop_tongue
			beasts:cooked_shrimp
			beasts:crab_leg
			beasts:daggerfish
			beasts:eel_chop
			beasts:fairy_bread
			beasts:raw_kebab
			beasts:reef_mixture
			beasts:scallop_tongue
			beasts:shrimp
			betteranimalsplus:blubber
			betteranimalsplus:crab_meat_cooked
			betteranimalsplus:crab_meat_raw
			betteranimalsplus:eel_meat_cooked
			betteranimalsplus:eel_meat_raw
			betteranimalsplus:fried_egg
			betteranimalsplus:goatcheese
			betteranimalsplus:pheasantcooked
			betteranimalsplus:pheasantraw
			betteranimalsplus:turkey_leg_cooked
			betteranimalsplus:turkey_leg_raw
			betteranimalsplus:venisoncooked
			betteranimalsplus:venisonraw
			betternether:black_apple
			betternether:stalagnate_bowl_apple
			betternether:stalagnate_bowl_mushroom
			betternether:stalagnate_bowl_wart
			biomesoplenty:berries
			biomesoplenty:filled_honeycomb
			biomesoplenty:peach
			biomesoplenty:pear
			biomesoplenty:persimmon
			biomesoplenty:ricebowl
			biomesoplenty:shroompowder
			charm:suspicious_soup
			cyclicmagic:corrupted_chorus
			cyclicmagic:glowing_chorus
			cyclicmagic:heart_food
			cyclicmagic:heart_toxic
			erebus:cabbage_seeds
			erebus:erebus_food
			erebus:erebus_food:1
			erebus:erebus_food:10
			erebus:erebus_food:11
			erebus:erebus_food:12
			erebus:erebus_food:13
			erebus:erebus_food:14
			erebus:erebus_food:15
			erebus:erebus_food:16
			erebus:erebus_food:17
			erebus:erebus_food:18
			erebus:erebus_food:19
			erebus:erebus_food:2
			erebus:erebus_food:3
			erebus:erebus_food:4
			erebus:erebus_food:5
			erebus:erebus_food:6
			erebus:erebus_food:7
			erebus:erebus_food:8
			erebus:erebus_food:9
			erebus:heart_berries
			erebus:life_blood
			erebus:mandrake_root
			erebus:smoothie
			erebus:smoothie:1
			erebus:smoothie:2
			erebus:smoothie:3
			erebus:smoothie:4
			erebus:smoothie:5
			erebus:smoothie:6
			erebus:smoothie:7
			erebus:smoothie:8
			erebus:smoothie:9
			erebus:stag_heart_cooked
			erebus:stag_heart_raw
			erebus:turnip
			fossil:alligator_gar_cooked
			fossil:allosaurus_cooked
			fossil:allosaurus_meat
			fossil:ankylosaurus_cooked
			fossil:ankylosaurus_meat
			fossil:arthropleura_cooked
			fossil:arthropleura_meat
			fossil:brachiosaurus_cooked
			fossil:brachiosaurus_meat
			fossil:ceratosaurus_cooked
			fossil:ceratosaurus_meat
			fossil:citipati_cooked
			fossil:citipati_meat
			fossil:coelacanth_cooked
			fossil:compsognathus_cooked
			fossil:compsognathus_meat
			fossil:confuciusornis_cooked
			fossil:confuciusornis_meat
			fossil:cooked_chicken_soup
			fossil:cooked_egg
			fossil:crassigyrinus_cooked
			fossil:crassigyrinus_meat
			fossil:deinonychus_cooked
			fossil:deinonychus_meat
			fossil:dilophosaurus_cooked
			fossil:dilophosaurus_meat
			fossil:diplocaulus_cooked
			fossil:diplocaulus_meat
			fossil:diplodocus_cooked
			fossil:diplodocus_meat
			fossil:dodo_cooked
			fossil:dodo_meat
			fossil:dryosaurus_cooked
			fossil:dryosaurus_meat
			fossil:edaphosaurus_cooked
			fossil:edaphosaurus_meat
			fossil:elasmotherium_cooked
			fossil:elasmotherium_meat
			fossil:gallimimus_cooked
			fossil:gallimimus_meat
			fossil:gastornis_cooked
			fossil:gastornis_meat
			fossil:henodus_cooked
			fossil:henodus_meat
			fossil:icthyosaurus_cooked
			fossil:icthyosaurus_meat
			fossil:kelenken_cooked
			fossil:kelenken_meat
			fossil:liopleurodon_cooked
			fossil:liopleurodon_meat
			fossil:mammoth_cooked
			fossil:mammoth_meat
			fossil:megalania_cooked
			fossil:megalania_meat
			fossil:megaloceros_cooked
			fossil:megaloceros_meat
			fossil:megalodon_cooked
			fossil:megalodon_meat
			fossil:megalograptus_cooked
			fossil:megalograptus_meat
			fossil:meganeura_cooked
			fossil:meganeura_meat
			fossil:mosasaurus_cooked
			fossil:mosasaurus_meat
			fossil:ornitholestes_cooked
			fossil:ornitholestes_meat
			fossil:pachycephalosaurus_cooked
			fossil:pachycephalosaurus_meat
			fossil:parasaurolophus_cooked
			fossil:parasaurolophus_meat
			fossil:phorusrhacos_cooked
			fossil:phorusrhacos_meat
			fossil:platybelodon_cooked
			fossil:platybelodon_meat
			fossil:plesiosaur_cooked
			fossil:plesiosaur_meat
			fossil:pterosaur_cooked
			fossil:pterosaur_meat
			fossil:quagga_cooked
			fossil:quagga_meat
			fossil:raw_chicken_soup
			fossil:sarcosuchus_cooked
			fossil:sarcosuchus_meat
			fossil:sjl
			fossil:smilodon_cooked
			fossil:smilodon_meat
			fossil:spinosaurus_cooked
			fossil:spinosaurus_meat
			fossil:stegosaurus_cooked
			fossil:stegosaurus_meat
			fossil:sturgeon_cooked
			fossil:therizinosaurus_cooked
			fossil:therizinosaurus_meat
			fossil:tiktaalik_cooked
			fossil:tiktaalik_meat
			fossil:titanis_cooked
			fossil:titanis_meat
			fossil:triceratops_cooked
			fossil:triceratops_meat
			fossil:tyrannosaurus_cooked
			fossil:tyrannosaurus_meat
			fossil:velociraptor_cooked
			fossil:velociraptor_meat
			grimoireofgaia:food_coalfish
			grimoireofgaia:food_honey
			grimoireofgaia:food_mandrake
			grimoireofgaia:food_meat
			grimoireofgaia:food_monster_feed
			grimoireofgaia:food_monster_feed_premium
			grimoireofgaia:food_nether_wart
			grimoireofgaia:food_pie_apple_gold
			grimoireofgaia:food_pie_mandrake
			grimoireofgaia:food_pie_meat
			grimoireofgaia:food_root
			grimoireofgaia:food_rotten_heart
			grimoireofgaia:food_small_apple_gold
			grimoireofgaia:food_wither
			iceandfire:ambrosia
			iceandfire:fire_dragon_flesh
			iceandfire:ice_dragon_flesh
			iceandfire:pixie_dust
			inspirations:edibles
			inspirations:potato_soup
			kathairis:bisonmeat
			kathairis:bluefruit
			kathairis:cookedbisonmeat
			kathairis:cottoncandy
			kathairis:fungal_drug
			kathairis:gooseberry
			kathairis:heart
			kathairis:magicbeansitem
			kathairis:nectar_bowl
			midnight:bulb_fungus_hand
			midnight:cook_hunter_wing
			midnight:cook_stag_flank
			midnight:cook_stinger_egg
			midnight:cook_suavis
			midnight:deceitful_snapper
			midnight:hunter_wing
			midnight:raw_stag_flank
			midnight:raw_suavis
			midnight:unstable_fruit_blue
			midnight:unstable_fruit_green
			midnight:unstable_fruit_lime
			minecraft:baked_potato
			minecraft:beef
			minecraft:beetroot
			minecraft:beetroot_soup
			minecraft:bread
			minecraft:carrot
			minecraft:chicken
			minecraft:chorus_fruit
			minecraft:cooked_beef
			minecraft:cooked_chicken
			minecraft:cooked_fish
			minecraft:cooked_fish:1
			minecraft:cooked_mutton
			minecraft:cooked_porkchop
			minecraft:cooked_rabbit
			minecraft:cookie
			minecraft:fish
			minecraft:fish:1
			minecraft:fish:2
			minecraft:fish:3
			minecraft:golden_apple
			minecraft:golden_apple:1
			minecraft:golden_carrot
			minecraft:melon
			minecraft:mushroom_stew
			minecraft:mutton
			minecraft:poisonous_potato
			minecraft:porkchop
			minecraft:potato
			minecraft:pumpkin_pie
			minecraft:rabbit
			minecraft:rabbit_stew
			minecraft:rotten_flesh
			minecraft:spider_eye
			mod_lavacow:bonestew
			mod_lavacow:canebeef
			mod_lavacow:canepork
			mod_lavacow:canerottenmeat
			mod_lavacow:cheirolepis
			mod_lavacow:cheirolepis_cooked
			mod_lavacow:crabcake
			mod_lavacow:frozenthigh
			mod_lavacow:ghostjelly
			mod_lavacow:green_bacon_and_eggs
			mod_lavacow:meatball
			mod_lavacow:mimic_claw
			mod_lavacow:mimic_claw_cooked
			mod_lavacow:mousse
			mod_lavacow:netherstew
			mod_lavacow:parasite_item
			mod_lavacow:parasite_item:1
			mod_lavacow:parasite_item:2
			mod_lavacow:parasite_item_cooked
			mod_lavacow:piranha
			mod_lavacow:piranha_cooked
			mod_lavacow:plagued_porkchop
			mod_lavacow:ptera_wing
			mod_lavacow:ptera_wing:1
			mod_lavacow:ptera_wing_cooked
			mod_lavacow:sausage_roll
			mod_lavacow:shattered_ice
			mod_lavacow:zombiepiranha_item
			mod_lavacow:zombiepiranha_item_cooked
			mowziesmobs:glowing_jelly
			netherex:congealed_magma_cream
			netherex:enoki_mushroom
			netherex:ghast_meat_cooked
			netherex:ghast_meat_raw
			primitivemobs:cooked_dodo
			primitivemobs:dodo
			quark:cooked_crab_leg
			quark:crab_leg
			quark:root
			quark:root_flower
			quark:root_flower:1
			quark:root_flower:2
			randomthings:beanstew
			rats:assorted_vegetables
			rats:cheese
			rats:confit_byaldi
			rats:contaminated_food
			rats:cooked_rat
			rats:herb_bundle
			rats:plague_stew
			rats:potato_kinishes
			rats:potato_pancake
			rats:rat_burger
			rats:raw_rat
			rats:string_cheese
			rats:treacle
			rewired:energydrink
			rewired:meat_cooked
			rewired:meat_raw
			rewired:powerbar
			rustic:chili_pepper
			rustic:cloudsbluff
			rustic:core_root
			rustic:ginseng
			rustic:grapes
			rustic:ironberries
			rustic:marsh_mallow
			rustic:olives
			rustic:tomato
			rustic:wildberries
			thaumadditions:void_fruit
			thaumcraft:brain
			thaumcraft:chunk
			thaumcraft:chunk:1
			thaumcraft:chunk:2
			thaumcraft:chunk:3
			thaumcraft:chunk:4
			thaumcraft:chunk:5
			thaumcraft:triple_meat_treat
			thejungle:stew_jungle
			xat:dwarf_stout
			xat:fairy_dew
			xat:mana_candy
			xat:mana_crystal
			xat:titan_spirit
            minecraft:apple
         >

        # Set to true to enable gradual recovery (modifiers will diminish gradually as the effect goes on)
        B:"Gradual Recovery"=true

        # Set maximum health modifier
        D:"Maximum Health Modifier"=-10.0

        # Set armor modifier
        D:"Armor Modifier"=0.0

        # Set armor toughness modifier
        D:"Armor Toughness Modifier"=0.0

        # Set attack damage modifier
        D:"Attack Damage Modifier"=0.0

        # Set attack speed percent modifier
        D:"Attack Speed Percent Modifier"=0.0

        # Set movement speed percent modifier
        D:"Movement Speed Percent Modifier"=0.0

        # Set to true to disable eating food while effect is active
        B:"Cannot Eat Food"=false

        # Set to true to disable gaining experience while effect is active
        B:"Cannot Gain XP"=false
    }

}


##########################################################################################################
# experience
#--------------------------------------------------------------------------------------------------------#
# Customize experience loss on death
##########################################################################################################

experience {
    # Set to true to enable experience module
    B:"Enable Experience Module"=true

    # Set to true to keep all XP on death
    B:"Keep All XP"=false

    # Percent of experience lost on death
    D:"Lost XP Percent"=0.01

    # Maximum amount of experience that can be recovered, 0 to disable
    I:"Maximum Recoverable XP"=0

    # Percent of lost experience that can be recovered
    D:"Recoverable XP Percent"=0.5
}


##########################################################################################################
# hunger
#--------------------------------------------------------------------------------------------------------#
# Customize hunger and saturation values on respawn
##########################################################################################################

hunger {
    # Set to true to enable hunger module
    B:"Enable Hunger Module"=true

    # Set to true to retain food level on death
    B:"Keep Food Level"=true

    # Highest amount of food level you can respawn with
    I:"Maximum Food Level"=20

    # Lowest amount of food level you can respawn with
    I:"Minimum Food Level"=0

    # Set to true to retain saturation on death
    B:"Keep Saturation"=false
}


##########################################################################################################
# inventory
#--------------------------------------------------------------------------------------------------------#
# Customize how your inventory is handled on death and respawn
##########################################################################################################

inventory {
    # Set to true to enable inventory module
    B:"Enable Inventory Module"=true

    # Set to true to keep equipped armor on death
    B:"Keep Armor"=true

    # Set to true to keep non-mainhand hotbar items on death
    B:"Keep Hotbar"=true

    # Set to true to keep mainhand item on death
    B:"Keep Mainhand"=true

    # Set to true to keep offhand item on death
    B:"Keep Offhand"=true

    # Set to true to keep main inventory (non-equipped non-hotbar) items on death
    B:"Keep Main Inventory"=false

    # Percent of durability lost on death for drops
    D:"Durability Loss on Drops"=0.1

    # Percent of durability lost on death for kept items
    D:"Durability Loss on Kept Items"=0.1

    # Percent of energy drained on death for drops
    D:"Energy Drain on Drops"=0.1

    # Percent of energy drained on death for kept items
    D:"Energy Drain on Kept Items"=0.1

    # Percent chance that items that are kept will still drop
    D:"Random Drop Chance"=0.0

    # Set to true to only apply random drop chance to the main inventory
    B:"Random Drop Only Main Inventory"=false

    # Percent chance that dropped items will be destroyed
    D:"Random Destroy Chance"=0.0

    # List of items that are always kept
    S:"Essential Items" <
     >

    # List of items that are always dropped
    S:"Cursed Items" <
		<ordinarycoins:coinsilver>
		<ordinarycoins:coinbronze>
		<ordinarycoins:coingold>
		<ordinarycoins:coinplatinum>
     >

    # Set to true to destroy cursed items instead of dropping them
    B:"Destroy Cursed Items"=false

    # Time (in seconds) to set for drop despawn timer, -1 for vanilla
    I:"Drop Despawn Timer"=-1

    # Set to true to keep Baubles on death
    B:"Keep Baubles"=true

    # Set to true to keep Cosmetic Armor on death
    B:"Keep Cosmetic Armor"=true

    # Set to true to keep Toolbelt on death
    B:"Keep Toolbelt"=true

    # Set to true to keep Wearable Backpack on death
    B:"Keep Wearable Backpack"=false

    # Set to true to limit durability loss so that items will never break due to death penalities
    B:"Limit Durability Loss"=true

    # Set to true to prevent death drops from despawning
    B:"No Drop Despawn"=false

    ##########################################################################################################
    # soulbinding
    #--------------------------------------------------------------------------------------------------------#
    # Enable and customize the soulbinding enchantment
    ##########################################################################################################

    soulbinding {
        # Set to true to enable Soulbinding enchantment
        B:"Enable Soulbinding Enchantment"=false

        # The max level of the enchantment
        I:"Max Level"=1

        # The percent chance that the item will drop a level in the enchantment on death when kept
        D:"Chance to Drop Level on Saved Item"=0.0

        # The base percent chance that the enchantment will save an item on death regardless of level
        D:"Base Save Probability"=1.0

        # The percent chance increase that each level in the enchantment will give to saving an item on death
        D:"Extra Save Probability per Level"=0.0

        # Set to true to allow enchanting Soulbinding at the enchantment table
        B:"Can Apply at Enchanting Table"=true

        # Set to true to allow enchanting Soulbinding on books
        B:"Allowed on Books"=true

        # The rarity of the enchantment (COMMON, UNCOMMON, RARE, or VERY_RARE)
        S:Rarity=VERY_RARE
    }

}


##########################################################################################################
# respawning
#--------------------------------------------------------------------------------------------------------#
# Customize general respawning rules
##########################################################################################################

respawning {
    # Set to true to enable respawning module features
    B:"Enable Respawning Module"=true

    # Set to true to disable beds setting spawn points
    B:"Disable Bed Spawn Points"=false

    # If Return Scroll is true, set to true to automatically give players a return scroll on respawn
    B:"Give Scroll on Respawn"=false

    # Set to true to reset Reskillable skills on respawn
    B:"Reset Skills on Respawn"=false

    # A list of items to give players on respawn. The format is modid:item_name;stacksize;metadata.
    S:"Respawn Items" <
     >

    # Set to true to enable a craftable return scroll that teleports players to their death location
    B:"Return Scroll"=true

    # Mobs to spawn at location on death
    S:"Spawn Mobs on Death" <
     >
}


